@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=PT+Sans+Narrow:wght@400;700&display=swap');

*{
	scroll-behavior: smooth;
	padding: 0;
	margin: 0;
	font-family: 'Comfortaa', cursive;
}
header {
	padding: 40px 100px;
	height: 100%;
	max-height: 100px;
	background-color: black;
	display: flex;
	flex-wrap: nowrap;
	color: white;
	align-items: center;
	justify-content: space-around;
}
.trigger {
	display: none;
}
.burger_position {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 200px;
}
.burger_position:hover {
	cursor: pointer;
}
.hamburger span {
	height: 3px;
	width: 40px;
	display: block;
	margin-bottom: 5px;
	background-color: white;
}
.trigger:checked ~ .navi a {
	right: 0;
}
.navi a {
	display: flex;
	flex-wrap: wrap;
	background-color: black;
	max-width: 210px;
	position: absolute;
	right: -50vw;
	box-sizing: border-box;
	margin: 10px;
	transition: right 0.5s ease-in-out;
}
nav a{
	display: flex;
	flex-wrap: wrap-reverse;
	text-decoration: none;
	color: white;
	margin-left: 60px;
	width: 100%;
	max-width: 200px;
}
footer {
	padding: 40px 120px;
	height: 100%;
	max-height: 200px;
	background-color: black;
	display: flex;
	flex-wrap: nowrap;
	color: white;
	align-items: center;
	justify-content: space-around;
}

.logo {
	width: 100%;
	height: 100%;
	max-width: 1000px;
}
.logo img {
	width: 100%;
	height: 100%;
	max-width: 140px;
	max-height: 120px;
	min-width: 60px;
	min-height: 30px;
}
main {
	background-color: #F5F5F5;
}
h2 {
	color: white;
	margin: 20px 0px;
}
.main_photo {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	background: url("RX 7 main.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-clip: border-box;
	background-position: 0% 55%;
}
.slogon {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 48px;
}
#auto {
	color: black;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.car {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.assortment {
	margin: 5px;
	height: 100%;
	max-height: 450px;
	border: 1px solid black;
}
.assortment:hover {
	color: white;
	background-color: black;
	cursor: pointer;
}
.assortment img {
	aspect-ratio: 2 / 1;
	width: 100%;
	max-width: 600px;
}
.details {
	max-width: 120px;
	max-height: 40px;
	border: 1px solid black;
}
.title_text_2 {
	height: 100%;
	width: 100%;
	min-block-size: 200px;
	background-image: url("3 owners.jpg");
	background-size: cover;
	background-clip: border-box;
	background-repeat: no-repeat;
	background-position: 0% 40%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}
.big_text {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	margin: 10px;
}
.text_position {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}
.small_text {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 5px;
	max-width: 800px;
	text-align: justify;
}
.video {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	margin: 20px;
}
iframe {
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}
.title_text_3 {
	height: 100%;
	width: 100%;
	min-block-size: 200px;
	background-image: url("rx 8 use.jpg");
	background-size: 100%;
	background-clip: border-box;
	background-repeat: no-repeat;
	background-position: 0% 40%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: end;
	justify-content: center;
}
.form_title {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	margin: 10px;
}
.form {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}
.form select {
	width: 100%;
	max-width: 250px;
}
.contact_us {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.contact_us input {
	width: 100%;
	max-width: 250px;
}
.contact_us textarea {
	width: 100%;
	max-width: 250px;
	resize: none;
}
.contact_us button {
	width: 100%;
	max-width: 125px;
}
.contact_us button:hover {
	color: white;
	background-color: black;
	cursor: pointer;
}
footer {
	height: 100%;
	max-height: 200px;
	display: flex;
	background-color: black;
	color: white;
	align-items: center;
	justify-items: space-around;
}
.end {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

@media screen and (max-width: 960px) {
	.slogon {
		font-size: 30px;
	}
	.small_text {
		font-size: 14px;
	}
}

@media screen and (max-width: 620px) {
	.slogon {
		font-size: 20px;
	}
}

@media screen and (max-width: 420px) {
	.slogon {
		font-size: 15px;
	}
	.small_text {
		font-size: 12px;
	}
}